set timeout=5
menuentry "nsyslinux" {
    linux  /boot/vmlinuz console=tty0 quiet systemd.show_status=1 rdinit=/usr/lib/systemd/systemd
    initrd /boot/initramfs.cpio.gz
}
menuentry "nsyslinux: install to hard disk" {
    linux  /boot/vmlinuz console=tty0 quiet rdinit=/usr/sbin/nsys-install
    initrd /boot/initramfs.cpio.gz
}
