set timeout=5
menuentry "nsyslinux (systemd)" {
    linux  /boot/vmlinuz console=tty0 quiet systemd.show_status=1 rdinit=/usr/lib/systemd/systemd
    initrd /boot/initramfs.cpio.gz
}
menuentry "nsyslinux (BusyBox init)" {
    linux  /boot/vmlinuz console=tty0
    initrd /boot/initramfs.cpio.gz
}
