[Unit]
Description=nsyslinux target
Wants=diskler.service getty-tty1.service merhaba.service acil-kabuk.service ag.service sshd.service docker.service
AllowIsolate=yes
