[Unit]
Description=tty1 console login
DefaultDependencies=no
# Writes to disk; on a disk install / is read-only until diskler.service is done
After=diskler.service

[Service]
ExecStart=-/sbin/getty 38400 -
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
Type=idle
Restart=always
